/*!
* Lightbox Gallery v1.0 (https://kawshar.github.io/lightboxgallery/)
* Copyright 2017 Kawshar Ahmed
* Licensed GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
*/

/* Gallery */
.lightboxgallery-gallery {
  display: block;
  /*margin: 20px -10px 20px -10px;*/
}
.lightboxgallery-gallery-item {
  cursor: zoom-in;
  display: block;
  float: left;
  width: 33.3333%;
}

#adminContent .lightboxgallery-gallery-item { 
  float: none;
  margin-bottom: 15px;
  width: 100%;
}
#adminContent .galleryBtns {
  display: inline-block;
}


@media only screen and (max-width : 767px) {
  .lightboxgallery-gallery-item {
    width: 33.3333%;
  }
}

@media only screen and (max-width : 479px) {
  .lightboxgallery-gallery-item {
    width: 100%;
  }
}

.lightboxgallery-gallery-item img {
  width: 100%;
}

.lightboxgallery-gallery-item > div {
  position: relative;
  /*margin: 10px;*/
}

.lightboxgallery-gallery-item > div:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(10,33,72,.8) 0%, rgba(10,33,72,.8) 100%);
  background: -webkit-linear-gradient(top, rgba(10,33,72,.8) 0%,rgba(10,33,72,.8) 100%);
  background: linear-gradient(to bottom, rgba(10,33,72,.8) 0%,rgba(10,33,72,.8) 100%);
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.lightboxgallery-gallery-item:hover > div:after {
  opacity: 1;
}

.lightboxgallery-gallery-item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
}

.lightboxgallery-gallery-item:hover .lightboxgallery-gallery-item-content {
  opacity: 1;
}

.lightboxgallery-gallery-item-title {
  display: block;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
}
